
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo App</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style2.css' %}" />
  <script src="{% static 'menu.js' %}" defer></script>
</head>
<body>
  {% if messages %}
    <ul class="msg-list">
      {% for m in messages %}
        <li class="msg {{ m.tags }}">{{ m }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- Thanh menu ngang -->
  <nav class="navbar">
    <div class="nav-left">
      <a href="/">📝 Todo App</a>
      <a href="/archive/">✅ Hoàn thành</a>
      <!-- Nút mở menu Thành viên -->
      <a href="/friends/">👥 Thành viên</a>
      <!-- Nút mở form -->
      <button id="show-form-task" class="btn1">+ Giao việc</button>

      <!-- Form giao việc -->
      <div id="assignForm" style="display:none; margin-top:1rem;">
        <form id="assign-form" method="POST">
          {% csrf_token %}
          <input type="text" name="assignee" placeholder="Tên người nhận" required>
          <input type="text" name="content"   placeholder="Nội dung công việc" required>
          <input type="date" name="deadline"  required>
          <button type="submit" class="btn1">Giao</button>
        </form>
      </div>
      
    </div>
    <div class="nav-right" id="user-menu">
      <button id="account">👤 Tài khoản ⏷</button>
      <div class="dropdown hidden" id="dropdown-menu">
        <a href="/profile/">Hồ sơ</a>
        <a href="/changepassword/">Đổi mật khẩu</a>
        <a href="/logout/">Đăng xuất</a>
      </div>
    </div>
  </nav>

{%block content2%}{%endblock%}

</body>
</html>
